@charset "utf-8";

html{
	min-width:1200px;  /* 主体部分最小宽度 */
}


/*  footer  */
#footer{
	width:100%;
	height:196px;
	background-color:#1a1a1a;
}
#f-mian{
	width:1200px;
	height:65px;   /* 两行字的高度 */
	margin:0 auto;
	padding-top:70px;
}
#f-mian p.friend-link a{
	margin-right:15px;
	color:#999;
}
#f-mian p.copy{
	margin-top:25px;
	color:#999;
}